.sidebar {
  width: 200px;
  border-right: 1px solid rgb(200, 200, 200);
  padding: 16px;
}

.sidebarHeader {
  font-size: 14px;
  color: rgb(129, 109, 109);
  margin-bottom: 12px;
}

.brandList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brandItem {
  font-size: 14px;
  color: rgb(54, 51, 51);
  cursor: pointer;
  margin-bottom: 8px;
}

.brandItem:hover {
  color: rgb(51, 49, 49);
  cursor: pointer;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
