.card {
  flex: 0 0 auto;
  text-align: center;
  border: 1px solid rgb(243, 235, 235);
  width: 200px;
}

.image {
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.image:hover {
  transform: scale(1.05);
}

.name {
  margin-top: 8px;
  font-size: 14px;
  color: rgb(54, 51, 51);
}
