.wrapper {
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.title {
  font-size: 20px;
  color: rgb(54, 51, 51);
  margin: 0 auto;
  text-align: center;
}

.nav {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
}

.divider {
  border: none;
  border-top: 1px solid rgb(200, 200, 200); /* subtle bottom border */
  margin: 0;
  width: 100%;
}

.authButtons {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
}

.authBtn {
  padding: 6px 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.authBtn:hover {
  background-color: #ddd;
}
