.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 24px;
  box-sizing: border-box;
  height: 240px;
}

.footerTitle {
  font-size: 20px;
  color: rgb(54, 51, 51);
  margin-top: 1rem;
}

.copy {
  font-size: 12px;
  color: rgb(129, 109, 109);
}

.dividerFooter {
  margin-top: 1rem;
  border: none;
  border-top: 1px solid rgb(200, 200, 200); /* subtle top border */
  margin: 0;
  width: 100%;
}
